* {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-family: "Barlow", sans-serif;
  line-height: 1.6;
  max-width: 1500px;
  margin: 0 auto; }
  @media (max-width: 1500px) {
    body {
      margin: 1em; } }

img {
  width: 100%; }

h1 {
  color: #19414b;
  font-size: 45px;
  text-align: center;
  font-weight: 500;
  padding-top: 5rem; }
  @media (max-width: 425px) {
    h1 {
      padding-top: 0.5rem;
      font-size: 40px; } }

.navbar {
  padding: 0.3rem 0; }
  .navbar .nav_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .navbar .nav_container .logodiv {
      width: 150px;
      padding: 1rem 0;
      margin-left: 1.5rem; }
    .navbar .nav_container .nav_content ul {
      display: flex;
      justify-self: flex-end;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 1rem 0; }
    .navbar .nav_container .nav_content li {
      list-style: none; }
    .navbar .nav_container .nav_content a {
      text-decoration: none;
      font-size: 19px;
      color: #19414b;
      padding: 0 1rem; }
    .navbar .nav_container .nav_content i {
      font-size: 23.5px; }
    @media (max-width: 1020px) {
      .navbar .nav_container .nav_content {
        display: none; } }

#hpmenuicondiv {
  position: absolute;
  right: 0;
  z-index: 100;
  top: 0;
  padding: 2.75em 1em;
  display: none;
  position: fixed; }
  #hpmenuicondiv img:hover {
    cursor: pointer; }
  @media (max-width: 1020px) {
    #hpmenuicondiv {
      display: block; } }

#hpmobilemenuwrapper {
  display: none;
  opacity: 0;
  z-index: -2;
  transition: 0.25s all ease-in-out;
  width: 100%;
  background-color: white;
  position: relative;
  top: 0;
  left: 0;
  position: fixed;
  -webkit-box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75);
  -moz-box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75);
  box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75); }
  @media (max-width: 1020px) {
    #hpmobilemenuwrapper {
      display: block; } }

#hpmenuxicondiv {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2.75em 1.25em 0 0; }
  #hpmenuxicondiv img:hover {
    cursor: pointer; }

#hpmenunameflex {
  padding: 2.1em 0 0;
  transition: 0.25s all ease-in-out; }

.hpmobilemenucontent ul {
  padding: 1em 0;
  transition: 0.3s all ease-in-out;
  margin: 0; }

.hpmobilemenucontent li {
  list-style: none;
  padding: 1.5em 0; }

.hpmobilemenucontent a {
  text-decoration: none;
  font-size: 19px;
  color: #19414b;
  padding: 20px; }

.showcase {
  background: url("img/Rohini_Scientific/showcase_img12.jpeg") no-repeat center center/cover;
  position: relative;
  height: 700px;
  width: 100%; }
  @media (max-width: 1024px) {
    .showcase {
      height: 700px;
      width: 100%; } }
  @media (max-width: 768px) {
    .showcase {
      height: 500px;
      width: 100%; } }
  @media (max-width: 375px) {
    .showcase {
      height: 500px;
      width: 100%; } }
  .showcase .inner_box {
    background-color: #f7f7f7;
    position: absolute;
    opacity: 0.8;
    border-radius: 5px;
    margin: 10rem 0;
    left: 100px;
    width: 50%;
    max-height: 500px; }
    @media (max-width: 1024px) {
      .showcase .inner_box {
        width: 60%;
        left: 40px;
        bottom: -100px; } }
    @media (max-width: 768px) {
      .showcase .inner_box {
        max-height: 400px;
        margin: 2.5rem;
        width: 70%;
        left: -20px;
        bottom: -20px; } }
    @media (max-width: 425px) {
      .showcase .inner_box {
        height: 300px;
        width: 100%;
        border-radius: 0;
        left: -40px;
        bottom: -40px; } }
    @media (max-width: 320px) {
      .showcase .inner_box {
        height: 320px; } }
  .showcase h1 {
    color: #19414b;
    font-size: 36px;
    text-align: left;
    font-weight: 500;
    margin-top: 1rem;
    padding: 2rem 2rem 0 2rem; }
    @media (max-width: 425px) {
      .showcase h1 {
        font-size: 20px; } }
    @media (max-width: 768px) {
      .showcase h1 {
        font-size: 25px;
        padding: 1rem 1rem o 1rem; } }
  .showcase p {
    font-size: 20px;
    text-align: left;
    margin: 1rem 0;
    padding: 0 2rem;
    max-width: 500px; }
    @media (max-width: 700px) {
      .showcase p {
        display: none; } }
  .showcase .btn {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    width: 20%;
    height: 42px;
    margin: 2.5rem 0 2rem 2rem;
    background-color: #19414b;
    font-weight: 600;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 768px) {
      .showcase .btn {
        width: 40%;
        height: 40px; } }
  .showcase .btn:hover {
    background-color: #45aa33;
    color: #19414b; }

.product_section {
  background-color: #f7f7f7; }
  @media (max-width: 425px) {
    .product_section {
      width: 100%; } }
  @media (max-width: 375px) {
    .product_section {
      width: 100%; } }
  @media (max-width: 320px) {
    .product_section {
      width: 100%;
      background-color: #fff; } }
  .product_section .product_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .product_section .product_container .product_card {
      background-color: #fff;
      border-radius: 5px;
      transition: 0.25s all ease-in-out;
      box-shadow: 0px 3px 18px #00000029;
      cursor: pointer;
      margin: 1em;
      width: 25%;
      position: relative; }
      @media (max-width: 1024px) {
        .product_section .product_container .product_card {
          width: 28%; } }
      @media (max-width: 768px) {
        .product_section .product_container .product_card {
          width: 60%;
          margin-bottom: 4em; } }
      @media (max-width: 425px) {
        .product_section .product_container .product_card {
          width: 100%;
          margin-bottom: 3em; } }
    .product_section .product_container .image {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 100%;
      height: 160px; }
      @media (max-width: 1024px) {
        .product_section .product_container .image {
          height: 220px; } }
      @media (max-width: 768px) {
        .product_section .product_container .image {
          height: 280px; } }
    .product_section .product_container .organic_fertilizers {
      background: url("img/Rohini_Scientific/product_image1.jpg") no-repeat center center/cover; }
    .product_section .product_container .waste_water {
      background: url("img/Rohini_Scientific/product_image2.jpg") no-repeat center center/cover; }
    .product_section .product_container .solid_waste {
      background: url("img/Rohini_Scientific/showcase_img13.jpeg") no-repeat center center/cover; }
    .product_section .product_container .product_content {
      margin: 0.5em;
      position: relative; }
      .product_section .product_container .product_content .product_title {
        font-size: 24px;
        text-align: center;
        color: #19414b;
        font-weight: 600; }
        @media (max-width: 1024px) {
          .product_section .product_container .product_content .product_title {
            font-size: 28px;
            margin: 0;
            padding-top: 0.5em; } }
        @media (max-width: 768px) {
          .product_section .product_container .product_content .product_title {
            font-size: 28px;
            margin: 0;
            padding-top: 0.5em; } }
      .product_section .product_container .product_content .product_description {
        text-align: center;
        padding: 1em 2em 2em;
        font-size: 16px;
        color: #000; }
        @media (max-width: 1024px) {
          .product_section .product_container .product_content .product_description {
            padding: 0.5em 1.5em 2em; } }
        @media (max-width: 768px) {
          .product_section .product_container .product_content .product_description {
            padding: 1em 3em 2em; } }
        @media (max-width: 425px) {
          .product_section .product_container .product_content .product_description {
            padding: 1em 0 2em 0em; } }
    .product_section .product_container a {
      text-decoration: none; }
      .product_section .product_container a .learn_more {
        position: relative;
        color: #19414b;
        font-size: 18px;
        text-align: center;
        bottom: 10px; }
      .product_section .product_container a .card1learnmore {
        bottom: -15px; }
        @media (max-width: 1024px) {
          .product_section .product_container a .card1learnmore {
            bottom: -58px; } }
        @media (max-width: 768px) {
          .product_section .product_container a .card1learnmore {
            bottom: 10px; } }
      .product_section .product_container a .card2learnmore {
        bottom: -15px; }
        @media (max-width: 1440px) {
          .product_section .product_container a .card2learnmore {
            bottom: 10px; } }
    .product_section .product_container .product_contact {
      text-align: center;
      font-size: 24px;
      color: #19414b;
      padding: 1rem; }
  .product_section .product_card:hover {
    -webkit-box-shadow: 1px 11px 23px -2px rgba(0, 0, 0, 0.34);
    box-shadow: 1px 11px 23px -2px rgba(0, 0, 0, 0.34);
    transition: 0.25s all ease-in-out;
    transform: translateY(-10px); }

.our_services h2 {
  color: #19414b;
  font-weight: 600;
  text-align: center;
  padding-top: 2rem; }
  @media (max-width: 425px) {
    .our_services h2 {
      padding-top: 0.5rem; } }

.our_services p {
  text-align: center;
  font-size: 18px;
  padding-top: 0.5rem;
  text-indent: 5px;
  width: 65%;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .our_services p {
      width: 90%;
      font-size: 16px; } }
  @media (max-width: 425px) {
    .our_services p {
      width: 100%;
      font-size: 16px; } }

.our_services .service_container {
  height: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: 100px auto;
  grid-gap: 1rem; }
  @media (max-width: 768px) {
    .our_services .service_container {
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      width: 100%;
      margin: 50px auto; } }
  @media (max-width: 425px) {
    .our_services .service_container {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      width: 100%;
      margin: 50px auto; } }

.our_services .service_item {
  width: 100%;
  overflow: hidden;
  background: #555;
  position: relative; }

.our_services .overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.1s ease;
  background-color: #45aa33; }

.our_services .service_text {
  visibility: visible;
  /* --TEXT CENTERING-- */
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  /* ------ */
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  width: 100%; }

.our_services img {
  display: block;
  opacity: 0.65;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s; }

.our_services .service_image {
  /* width: 200px; */
  height: 170px; }

.our_services .service_item:hover .overlay {
  visibility: visible;
  opacity: 0.9; }

.our_services .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }
  .our_services .modal .modalcontents {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 0.1em; }
    @media (max-width: 767px) {
      .our_services .modal .modalcontents {
        padding: 0;
        width: 95%;
        margin: 0 auto; } }
    .our_services .modal .modalcontents .closeBtn {
      width: 18px;
      z-index: 100;
      position: absolute;
      right: 24px;
      top: 24px; }
    .our_services .modal .modalcontents .modal_container {
      display: flex;
      justify-content: space-between;
      margin: 10% auto;
      padding: 20px 20px; }
      @media (max-width: 1024px) {
        .our_services .modal .modalcontents .modal_container {
          width: 100%;
          display: flex; } }
      @media (max-width: 767px) {
        .our_services .modal .modalcontents .modal_container {
          width: 95%;
          display: block; } }
      @media (max-width: 425px) {
        .our_services .modal .modalcontents .modal_container {
          width: 95%;
          display: block; } }
    .our_services .modal .modalcontents .modal_img {
      max-width: 400px;
      margin: auto 3rem; }
      @media (max-width: 767px) {
        .our_services .modal .modalcontents .modal_img {
          width: 100%;
          margin: 5em auto; } }
      @media (max-width: 425px) {
        .our_services .modal .modalcontents .modal_img {
          width: 90%;
          margin: 4.5rem auto 1em;
          height: 200px; } }
      .our_services .modal .modalcontents .modal_img img {
        width: 100%;
        opacity: 1; }
    .our_services .modal .modalcontents .service_description {
      width: 50%; }
      @media (max-width: 767px) {
        .our_services .modal .modalcontents .service_description {
          width: 100%; } }
      @media (max-width: 425px) {
        .our_services .modal .modalcontents .service_description {
          width: 100%; } }
      .our_services .modal .modalcontents .service_description h1 {
        color: #19414b;
        text-align: center;
        font-size: 30px;
        margin: 0;
        padding-top: 0rem; }
        @media (max-width: 425px) {
          .our_services .modal .modalcontents .service_description h1 {
            font-size: 25px;
            padding-top: 2rem; } }
      .our_services .modal .modalcontents .service_description p {
        text-align: center;
        font-size: 18px;
        margin: 1rem auto;
        width: 80%; }
        @media (max-width: 425px) {
          .our_services .modal .modalcontents .service_description p {
            width: 100%;
            margin: 1rem auto; } }
      @media (max-width: 425px) {
        .our_services .modal .modalcontents .service_description {
          margin: 0 auto; } }

.our_services .service_container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  width: 80%;
  justify-content: center;
  margin: 90px auto;
  grid-gap: 1rem; }
  @media (max-width: 768px) {
    .our_services .service_container2 {
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      width: 100%;
      margin: 50px auto; } }
  @media (max-width: 425px) {
    .our_services .service_container2 {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      width: 100%;
      margin: 50px auto; } }
  .our_services .service_container2 .service_content2 h2 {
    color: #19414b;
    font-weight: 600;
    text-align: center;
    padding-top: 40px; }
  .our_services .service_container2 .service_content2 p {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    text-indent: 5px;
    width: 60%;
    margin: 0 auto; }

.testimonial_section {
  background-color: #f7f7f7;
  height: 750px; }

.slick {
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 18px #00000029;
  width: 75%;
  max-width: 600px;
  min-height: 450px; }
  @media (max-width: 768px) {
    .slick {
      margin: 0 auto;
      min-height: 500px; } }
  @media (max-width: 425px) {
    .slick {
      width: 95%;
      margin: 0 auto;
      min-height: 550px; } }
  @media (max-width: 320px) {
    .slick {
      min-height: 580px; } }
  .slick .testimonial_container {
    padding-top: 1rem;
    margin: 40px auto; }
  .slick .testimonial_quote_left i {
    font-size: 50px;
    margin-left: 60px;
    color: #45aa33; }
  .slick .testimonial_content {
    /* background-color: red; */
    margin-top: 40px;
    height: 150px; }
    .slick .testimonial_content h2 {
      color: #19414b;
      font-weight: 600;
      text-align: center;
      margin: 0 auto; }
    .slick .testimonial_content h3 {
      color: #19414b;
      font-weight: 500;
      text-align: center;
      margin: 0 auto; }
    .slick .testimonial_content p {
      padding: 20px;
      font-size: 16px;
      text-align: center; }

.our_clients .client_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto; }
  @media (max-width: 425px) {
    .our_clients .client_container {
      width: 100%; } }
  .our_clients .client_container .client_image {
    width: 15%;
    margin: auto 1em; }
    @media (max-width: 768px) {
      .our_clients .client_container .client_image {
        width: 35%;
        margin: 2.5rem auto; } }
    @media (max-width: 425px) {
      .our_clients .client_container .client_image {
        width: 55%;
        margin: 2.5rem auto; } }
    @media (max-width: 320px) {
      .our_clients .client_container .client_image {
        width: 80%; } }
    .our_clients .client_container .client_image img {
      width: 100%; }
  .our_clients .client_container .client_image1 {
    width: 25%;
    height: 35px;
    margin: auto 1em; }
    @media (max-width: 768px) {
      .our_clients .client_container .client_image1 {
        width: 35%;
        margin: 2.5rem auto; } }
    @media (max-width: 425px) {
      .our_clients .client_container .client_image1 {
        width: 55%;
        margin: 2.5rem auto; } }
    @media (max-width: 320px) {
      .our_clients .client_container .client_image1 {
        width: 80%; } }
    .our_clients .client_container .client_image1 img {
      width: 100%; }

.product_certification .product_certification_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  align-items: center;
  margin: 0 auto; }
  @media (max-width: 425px) {
    .product_certification .product_certification_container {
      width: 100%; } }

.product_certification .pc_image {
  width: 18%;
  margin: auto 0; }
  @media (max-width: 768px) {
    .product_certification .pc_image {
      width: 35%;
      margin: 2.5rem auto; } }
  @media (max-width: 425px) {
    .product_certification .pc_image {
      width: 45%;
      margin: 2rem auto; } }
  @media (max-width: 320px) {
    .product_certification .pc_image {
      width: 50%; } }
  .product_certification .pc_image img {
    width: 100%;
    height: 100%; }

.footer_section {
  background: #042b34;
  color: #fff;
  margin-top: 10em; }
  .footer_section .footer_container {
    display: flex;
    justify-content: space-around;
    justify-self: center;
    flex-wrap: wrap; }
    @media (max-width: 1024px) {
      .footer_section .footer_container {
        justify-content: space-between; } }
    .footer_section .footer_container .footer_heading {
      font-size: 24px; }
    .footer_section .footer_container .footer_content {
      margin: 3em 0;
      width: 19%;
      margin: 2em auto; }
      @media (max-width: 1088px) {
        .footer_section .footer_container .footer_content {
          width: 35%;
          margin: 2em auto; } }
      @media (max-width: 670px) {
        .footer_section .footer_container .footer_content {
          width: 80%;
          margin: 2em auto; } }
    .footer_section .footer_container .footer_contact_info .footer_contact_content {
      margin: 0;
      padding: 0; }
      .footer_section .footer_container .footer_contact_info .footer_contact_content p {
        font-size: 16px;
        margin-right: 0; }
    .footer_section .footer_container .footer_contact_info .phone_icon i {
      font-size: 23.5px; }
    .footer_section .footer_container .footer_contact_info .phone_number p {
      font-size: 26px;
      padding-left: 10px; }
    .footer_section .footer_container .footer_contact_info .flex {
      display: flex;
      align-items: center; }
    .footer_section .footer_container .footer_company_info ul {
      padding: 0; }
    .footer_section .footer_container .footer_company_info li {
      list-style-type: none;
      padding: 10px 0; }
    .footer_section .footer_container .footer_company_info a {
      text-decoration: none;
      color: #fff; }
    .footer_section .footer_container .footer_contact {
      font-size: 16px; }
      .footer_section .footer_container .footer_contact .footer_contact_flex {
        display: flex;
        align-items: flex-start;
        margin: 2em 0; }
        .footer_section .footer_container .footer_contact .footer_contact_flex .contact_text {
          margin: 0; }
        .footer_section .footer_container .footer_contact .footer_contact_flex .contact_icon {
          margin-right: 1em; }
    .footer_section .footer_container .social_media .social_media_content {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start; }
    .footer_section .footer_container .social_media a {
      text-decoration: none;
      color: #fff; }
    .footer_section .footer_container .social_media .smicon {
      display: flex;
      width: 80%;
      margin: 2em 1.5em 0 0; }
      @media (max-width: 1024px) {
        .footer_section .footer_container .social_media .smicon {
          margin: 2em 2em 0 0; } }
      @media (max-width: 425px) {
        .footer_section .footer_container .social_media .smicon {
          width: 24%; } }
      .footer_section .footer_container .social_media .smicon i {
        font-size: 32px; }
      @media (max-width: 425px) {
        .footer_section .footer_container .social_media .smicon .social_media_text {
          display: none; } }
      .footer_section .footer_container .social_media .smicon .fab {
        margin-right: 0.65em; }
  .footer_section .copyright {
    margin: 2em 0;
    padding-bottom: 2em;
    text-align: center; }
