* {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-family: "Barlow", sans-serif;
  line-height: 1.6;
  max-width: 1500px;
  margin: 0 auto; }
  @media (max-width: 1500px) {
    body {
      margin: 1em; } }

img {
  width: 100%; }

h1 {
  color: #19414b;
  font-size: 45px;
  text-align: center;
  font-weight: 500;
  padding-top: 5rem; }
  @media (max-width: 425px) {
    h1 {
      padding-top: 0.5rem;
      font-size: 40px; } }

.navbar {
  padding: 0.3rem 0; }
  .navbar .nav_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .navbar .nav_container .logodiv {
      width: 150px;
      padding: 1rem 0;
      margin-left: 1.5rem; }
    .navbar .nav_container .nav_content ul {
      display: flex;
      justify-self: flex-end;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 1rem 0; }
    .navbar .nav_container .nav_content li {
      list-style: none; }
    .navbar .nav_container .nav_content a {
      text-decoration: none;
      font-size: 19px;
      color: #19414b;
      padding: 0 1rem; }
    .navbar .nav_container .nav_content i {
      font-size: 23.5px; }
    @media (max-width: 1020px) {
      .navbar .nav_container .nav_content {
        display: none; } }

#hpmenuicondiv {
  position: absolute;
  right: 0;
  z-index: 100;
  top: 0;
  padding: 2.75em 1em;
  display: none;
  position: fixed; }
  #hpmenuicondiv img:hover {
    cursor: pointer; }
  @media (max-width: 1020px) {
    #hpmenuicondiv {
      display: block; } }

#hpmobilemenuwrapper {
  display: none;
  opacity: 0;
  z-index: -2;
  transition: 0.25s all ease-in-out;
  width: 100%;
  background-color: white;
  position: relative;
  top: 0;
  left: 0;
  position: fixed;
  -webkit-box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75);
  -moz-box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75);
  box-shadow: 0 4px 15px -4px rgba(102, 102, 102, 0.75); }
  @media (max-width: 1020px) {
    #hpmobilemenuwrapper {
      display: block; } }

#hpmenuxicondiv {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2.75em 1.25em 0 0; }
  #hpmenuxicondiv img:hover {
    cursor: pointer; }

#hpmenunameflex {
  padding: 2.1em 0 0;
  transition: 0.25s all ease-in-out; }

.hpmobilemenucontent ul {
  padding: 1em 0;
  transition: 0.3s all ease-in-out;
  margin: 0; }

.hpmobilemenucontent li {
  list-style: none;
  padding: 1.5em 0; }

.hpmobilemenucontent a {
  text-decoration: none;
  font-size: 19px;
  color: #19414b;
  padding: 20px; }

.footer_section {
  background: #042b34;
  color: #fff;
  margin-top: 10em; }
  .footer_section .footer_container {
    display: flex;
    justify-content: space-around;
    justify-self: center;
    flex-wrap: wrap; }
    @media (max-width: 1024px) {
      .footer_section .footer_container {
        justify-content: space-between; } }
    .footer_section .footer_container .footer_heading {
      font-size: 24px; }
    .footer_section .footer_container .footer_content {
      margin: 3em 0;
      width: 19%;
      margin: 2em auto; }
      @media (max-width: 1088px) {
        .footer_section .footer_container .footer_content {
          width: 35%;
          margin: 2em auto; } }
      @media (max-width: 670px) {
        .footer_section .footer_container .footer_content {
          width: 80%;
          margin: 2em auto; } }
    .footer_section .footer_container .footer_contact_info .footer_contact_content {
      margin: 0;
      padding: 0; }
      .footer_section .footer_container .footer_contact_info .footer_contact_content p {
        font-size: 16px;
        margin-right: 0; }
    .footer_section .footer_container .footer_contact_info .phone_icon i {
      font-size: 23.5px; }
    .footer_section .footer_container .footer_contact_info .phone_number p {
      font-size: 26px;
      padding-left: 10px; }
    .footer_section .footer_container .footer_contact_info .flex {
      display: flex;
      align-items: center; }
    .footer_section .footer_container .footer_company_info ul {
      padding: 0; }
    .footer_section .footer_container .footer_company_info li {
      list-style-type: none;
      padding: 10px 0; }
    .footer_section .footer_container .footer_company_info a {
      text-decoration: none;
      color: #fff; }
    .footer_section .footer_container .footer_contact {
      font-size: 16px; }
      .footer_section .footer_container .footer_contact .footer_contact_flex {
        display: flex;
        align-items: flex-start;
        margin: 2em 0; }
        .footer_section .footer_container .footer_contact .footer_contact_flex .contact_text {
          margin: 0; }
        .footer_section .footer_container .footer_contact .footer_contact_flex .contact_icon {
          margin-right: 1em; }
    .footer_section .footer_container .social_media .social_media_content {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start; }
    .footer_section .footer_container .social_media a {
      text-decoration: none;
      color: #fff; }
    .footer_section .footer_container .social_media .smicon {
      display: flex;
      width: 80%;
      margin: 2em 1.5em 0 0; }
      @media (max-width: 1024px) {
        .footer_section .footer_container .social_media .smicon {
          margin: 2em 2em 0 0; } }
      @media (max-width: 425px) {
        .footer_section .footer_container .social_media .smicon {
          width: 24%; } }
      .footer_section .footer_container .social_media .smicon i {
        font-size: 32px; }
      @media (max-width: 425px) {
        .footer_section .footer_container .social_media .smicon .social_media_text {
          display: none; } }
      .footer_section .footer_container .social_media .smicon .fab {
        margin-right: 0.65em; }
  .footer_section .copyright {
    margin: 2em 0;
    padding-bottom: 2em;
    text-align: center; }

.product_showcase {
  background: url("img/Rohini_Scientific/product_image1.jpg") no-repeat center center/cover;
  width: 100%;
  height: 40vh;
  position: relative;
  z-index: 1; }
  .product_showcase .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999; }
  .product_showcase .product_showcase_content h1 {
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-weight: 600; }
    @media (max-width: 425px) {
      .product_showcase .product_showcase_content h1 {
        font-size: 40px; } }
  .product_showcase .product_showcase_content p {
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-weight: 500; }
    @media (max-width: 425px) {
      .product_showcase .product_showcase_content p {
        display: none; } }

.product_box {
  margin: 0 auto; }
  .product_box .product_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 4rem; }
    @media (max-width: 768px) {
      .product_box .product_container {
        grid-template-columns: 1fr; } }
    @media (max-width: 425px) {
      .product_box .product_container {
        grid-template-columns: 1fr;
        padding: 0; } }
  .product_box .image {
    width: 100%;
    border-radius: 5px;
    margin: 2rem auto; }
  .product_box .humigold {
    background: url("img/Rohini_Scientific/Humi_Gold_RS.png") no-repeat center center/cover;
    width: 90%;
    height: 400px; }
    @media (max-width: 768px) {
      .product_box .humigold {
        width: 100%; } }
    @media (max-width: 425px) {
      .product_box .humigold {
        height: 300px; } }
  .product_box .nutriking {
    background: url("img/Rohini_Scientific/Nutri_King_RS.png") no-repeat center center/cover;
    width: 90%;
    height: 400px; }
    @media (max-width: 768px) {
      .product_box .nutriking {
        width: 100%; } }
    @media (max-width: 425px) {
      .product_box .nutriking {
        height: 300px; } }
  .product_box .ultrapower {
    background: url("img/Rohini_Scientific/Ultra_Power_RS.png") no-repeat center center/cover;
    width: 90%;
    height: 400px; }
    @media (max-width: 768px) {
      .product_box .ultrapower {
        width: 100%; } }
    @media (max-width: 425px) {
      .product_box .ultrapower {
        height: 300px; } }
  .product_box .powergel {
    background: url("img/Rohini_Scientific/Power_Gel_RS.png") no-repeat center center/cover;
    width: 90%;
    height: 400px; }
    @media (max-width: 768px) {
      .product_box .powergel {
        width: 100%; } }
    @media (max-width: 425px) {
      .product_box .powergel {
        height: 300px; } }
  .product_box .candid {
    background: url("img/Rohini_Scientific/Candid_RS_bg.jpg") no-repeat center center/cover;
    width: 90%;
    height: 400px; }
    @media (max-width: 768px) {
      .product_box .candid {
        width: 100%; } }
    @media (max-width: 425px) {
      .product_box .candid {
        height: 300px; } }
  .product_box .smaash {
    background: url("img/Rohini_Scientific/Smaash_RS.jpg") no-repeat center center/cover;
    width: 90%;
    height: 400px; }
    @media (max-width: 768px) {
      .product_box .smaash {
        width: 100%; } }
    @media (max-width: 425px) {
      .product_box .smaash {
        height: 300px; } }
  .product_box .product_content .product_heading {
    font-size: 28px;
    color: #19414b;
    text-align: left;
    padding-left: 20px; }
  .product_box .product_content .product_paragraph {
    font-size: 18px;
    margin-top: 8px;
    color: #070707;
    text-align: left;
    padding: 0 20px; }
  .product_box .product_content h3 {
    color: #19414b;
    text-align: left;
    padding-left: 20px; }
  .product_box .product_content .benefit_list {
    text-align: left;
    font-size: 18px; }
